body {
  margin: 0px;
  padding: 0px;  
  text-align:center;
}

#wrapper {
  width: 800px;
  text-align: left;
  margin: 0px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #666;  
  background: #eee;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

#header {
  margin: 5px;
  width: 800px;
  text-align: left;
  margin: 0px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  margin: 5px;
  width: 800px;
  text-align: left;
  margin: 0px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
#footer p {
  margin: 2px; 
}
#header h2 {
  margin: 0px;
  padding: 0px;  
}

#chat_output {
  height: 300px;
  overflow: auto;
  border: 1px solid #666;
  margin: 5px;
  background: #fff;
}

#chat_input {
  height: 20px;
  overflow: auto;
  border: 1px solid #666;
  margin: 5px;  
}

#chat_users {
  height: 327px;
  background: #fff;
  overflow: auto;
  border: 1px solid #666;
  margin: 5px;  
}

.container {
  display: inline;
  
}

.container_left {
  width: 650px;
  float: left;
}

.container_right {
  width: 150px;
  float: left;
}

.private_message {
  background: cyan;
  border-bottom: 1px solid #666;  
}
.input_active {
  background: #fff;
}
.input_inactive {
  background : #ddd;
}
.output_entry {
  margin-left: 5px;
  margin-bottom: 1px;
}
.output_entry .timestamp {
  
}

.output_entry .name {
  padding-left: 5px;
}

.output_entry .message {
  padding-left: 5px;
}
.user_entry {
  background: cyan;  
}