body {
  margin: 0px;
  padding: 0px;
  text-align: center; 
}

#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#videocontainer {
  position: relative;
  width: 900px;
  height: 400px;
  border: 1px solid #000; 
  margin-top: 10px;
}

#chatcontainer {
  width: 900px;
  height: 150px;
  
  border: 1px solid #000;
  margin-top: 10px; 
}

#main {
  position: absolute;
  top: 0px;
  left: 0px;
  
}

#aux {
  position: absolute;
  top: 10px;
  left: 10px;
  
}

.vid {
  border: 1px solid #000;
  width: 400px;
  display: inline-block; 
}
#chatText {
  height: 130px;
  background: #eee;
}
#chatTextToEnter {
  width: 100%;
  }
#chatText div {
  
  margin: 2px;
  padding: 2px;  
  
}


#chatText span {
  margin-right: 5px;  
}